# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch / Machine Learning
*.pth
*.pt
*.ckpt

# Datasets / Large Data Files (Strictly ignoring EDFs and processed tensors)
*.edf
*.tsv
*.json
*.nii.gz
/SleepApneaDummy/
/SleepApneaProcessed/
/SleepApnea/

# Virtual Environments
venv/
env/
.env
.venv/
env312/

pip_cache/
pip312
pip312.exe

# IDEs
.vscode/
.idea/
*.tsv
*.edf
*.pt
/data/
